<ion-view class="invite-view">

    <div class="bar bar-header">
        <button class="button button-clear" ui-sref="goal">
            <i class="icon ion-arrow-left-c" ></i>
        </button>
        <h1 class="title name">One last thing...</h1>
        <h1 class="title description">Invite some friends to share Fittus with</h1>
    </div>

    <ion-content class="has-header">
        <!-- <div class="invite-header">
            <div class="title">
                <p>16 of your friends are already on Fittus!</p>
                <p>We'll automatically connect you with them.</p>
            </div>
            <div class="members">
                <img src="img/avatar-0.png">
                <img src="img/avatar-0.png">
                <img src="img/avatar-0.png">

                <div class="number-cell">
                    <div class="number">+11</div>
                </div>

            </div>
        </div> -->

        <div class="invite-body">
            <h2>
                <i class="icon ion-ios-arrow-down"></i>
                PICK SOME FRIENDS TO INVITE
                <i class="icon ion-ios-arrow-down"></i>
            </h2>

            <div class="members">
                <ion-checkbox ng-model="selection.member[$index]" class="item-checkbox" ng-repeat="member in members" ng-click="changeSelection($index);  $event.stopPropagation();">
                    <img ng-src="{{member.photos.value}}" ng-if="selection.member[$index]==false">
                    <div class="item-member">
                        <h3>{{ member.name.formatted }}</h3>
                    </div>
                </ion-checkbox>
            </div>
        </div>

    </ion-content>

    <div class="row footer">
        <div class="col">
            <button class="button button-clear" ng-click="skip()">SKIP FOR NOW</button>
        </div>
        <div class="col">
            <button class="button button-full button-calm" ng-click="doInvite()">INVITE FRIENDS</button>
        </div>
    </div>

</ion-view>