$tutorial-1-bg:                     #509c2b;
$button-tutorial-1-bg:              #438424;
$button-tutorial-1-text:            #fff;
$button-tutorial-1-border:          $button-tutorial-1-bg;
$button-tutorial-1-active-bg:       darken($button-tutorial-1-bg, 10%) !default;
$button-tutorial-1-active-border:   darken($button-tutorial-1-bg, 10%) !default;

$tutorial-2-bg:                     #8e3d9a;
$button-tutorial-2-bg:              #773381;
$button-tutorial-2-text:            #fff;
$button-tutorial-2-border:          $button-tutorial-2-bg;
$button-tutorial-2-active-bg:       darken($button-tutorial-2-bg, 10%) !default;
$button-tutorial-2-active-border:   darken($button-tutorial-2-bg, 10%) !default;

$tutorial-3-bg:                     #3d429a;
$button-tutorial-3-bg:              #333781;
$button-tutorial-3-text:            #fff;
$button-tutorial-3-border:          $button-tutorial-3-bg;
$button-tutorial-3-active-bg:       darken($button-tutorial-3-bg, 10%) !default;
$button-tutorial-3-active-border:   darken($button-tutorial-3-bg, 10%) !default;

$tutorial-4-bg:                     #2584de;
$button-tutorial-4-bg:              #1f6fbb;
$button-tutorial-4-text:            #fff;
$button-tutorial-4-border:          $button-tutorial-4-bg;
$button-tutorial-4-active-bg:       darken($button-tutorial-4-bg, 10%) !default;
$button-tutorial-4-active-border:   darken($button-tutorial-4-bg, 10%) !default;