<ion-view class="workout-invite-view">

    <div class="bar bar-header bar-dark">
        <button class="button button-clear" ng-click="vm.goBack()">
            <i class="icon ion-arrow-left-c" ></i>
        </button>
        <h1 class="title">Invite friends to workout</h1>
    </div>

    <ion-content class="has-header">

        <!-- <div class="suggest">
            <p>SUGGESTED</p>
            <ion-scroll direction="x">
                <div class="suggest-avatar" id="workout-invite-suggest-region">
                    <img src="img/avatar-0.png">
                    <img src="img/avatar-0.png">
                    <img src="img/avatar-0.png">
                    <img src="img/avatar-0.png">
                    <img src="img/avatar-0.png">
                    <img src="img/avatar-0.png">
                </div>
            </ion-scroll>
        </div>
 -->
        <div class="search">
            <label class="item item-input item-button-right">
                <button class="button button-clear">
                    <i class="icon ion-search"></i>
                </button>
                <input type="text" placeholder="Search for Friends" ng-model="vm.searchFriendInput">
            </label>
        </div>

        <div class="members">
            <ion-checkbox ng-model="vm.selection[$index]" class="item-checkbox" ng-repeat="friend in vm.friends | filter: vm.searchFriendInput" ng-click="vm.chooseFriend(friend.uid);  $event.stopPropagation();">
                <img ng-src="{{friend.avatar}}" ng-if="vm.selection[$index]!=true">
                <div class="item-member">
                    <h3>{{ friend.name }}</h3>
                </div>
            </ion-checkbox>
        </div>

    </ion-content>

    <div class="row footer">
        <div class="col">
            <button class="button button-clear" ng-click="vm.doSkip()">SKIP FOR NOW</button>
        </div>
        <div class="col">
            <button class="button button-full button-calm" ng-click="vm.doInvite()">DONE</button>
        </div>
    </div>

</ion-view>