<ion-view class="workout-schedule-view">
    <div class="bar bar-header bar-dark">
        <button class="button button-clear" ng-click="vm.goBack()">
            <i class="icon ion-arrow-left-c"></i>
        </button>
        <h1 class="title">Schedule a Workout</h1>
    </div>
    <ion-content class="has-header has-footer padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Enter a name for this workout" ng-model="vm.newWorkout.name">
            </label>
            <label class="item item-input item-stacked-label">
                <i class="icon ion-calendar"></i>
                <span class="input-label">DATE:</span>
                <input type="date" ng-model="vm.newWorkout.date" required>
            </label>
            <label class="item item-input item-stacked-label">
                <i class="icon ion-clock"></i>
                <span class="input-label">TIME:</span>
                <input type="time" ng-model="vm.newWorkout.time" required>
            </label>
            <label class="item item-input item-stacked-label">
                <i class="icon ion-ios-location"></i>
                <span class="input-label">LOCATION:</span>
                <input type="text" ng-model="vm.newWorkout.location" required>
            </label>
            <div class="item item-toggle">
                Recurring Event
                <label class="toggle toggle-calm">
                    <input type="checkbox" ng-model="vm.newWorkout.is_recurring">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <div ng-show="vm.newWorkout.is_recurring">
            <p class="description">This workout will repeat at on the selected days</p>
            <div class="selected-days">
                <div class="row">
                    <div class="col" ng-class="{'selected': vm.selectedWeekdays.indexOf(day) > -1}" ng-repeat="day in vm.weekdays" ng-click="vm.selectRepeatDays(day)">{{ day }}</div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-clear button-light" ng-click="vm.goNext()">NEXT</button>
    </div>
</ion-view>
