<ion-tabs class="tabs-striped tabs-icon-top tabs-background-home tabs-color-energized">

    <ion-tab title="CALENDAR" icon-off="tab-icon-calendar" icon-on="tab-icon-calendar" href="#/home/calendar">
        <ion-nav-view name="home-calendar"></ion-nav-view>
    </ion-tab>

    <ion-tab title="FEED" icon-off="tab-icon-feed" icon-on="tab-icon-feed" href="#/home/feed">
        <ion-nav-view name="home-feed"></ion-nav-view>
    </ion-tab>

    <ion-tab title="PROFILE" icon-off="tab-icon-profile" icon-on="tab-icon-profile" href="#/home/profile">
        <ion-nav-view name="home-profile"></ion-nav-view>
    </ion-tab>

</ion-tabs>
