<ion-view class="goal-view">
    <div class="bar bar-header">
        <button class="button button-clear" ui-sref="gym">
            <i class="icon ion-arrow-left-c" ></i>
        </button>
        <h1 class="title name">Let's set a goal</h1>
        <p class="title description">Select you main exercise goal, and we'll do all we can to help you get there.</p>
    </div>
    <ion-content class="has-header" scroll="false">
        <div style="display: table; width: 100%; height: 100%;">
            <div style="display: table-cell; vertical-align: middle">
                <div class="row">
                    <div class="col">
                        <a class="tab-item" ng-class="{'active': selectTab.indexOf(1) != -1}" ng-click="changeGoal(1)">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="55px" height="55px" viewBox="0 0 55 55" class="a">
                                <g stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-79.000000, -214.000000)">
                                        <g transform="translate(80.738281, 215.305176)">
                                            <ellipse stroke-width="2" cx="26" cy="26" rx="26" ry="26"></ellipse>
                                            <path d="M23.5027568,16.0373877 L23.5027568,24.0867714 L15.5742187,24.0867714 L15.5742187,30.0340742 L15.575375,30.0340742 L23.503913,30.0340742 L23.503913,37.9614561 L23.5050692,37.9626123 L29.4512158,37.9626123 L29.4512158,30.0340742 L37.5000428,30.0340742 L37.4988866,30.0340742 L37.4988866,24.0867714 L29.4500596,24.0867714 L29.4500596,16.0373877 L23.5027568,16.0373877 Z" id="Page-1" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <p class="menu-title">General Wellness</p>
                            <div class="menu-border"></div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item" ng-class="{'active': selectTab.indexOf(2) != -1}" ng-click="changeGoal(2)">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="55px" height="55px" viewBox="0 0 55 55">
                                <defs>
                                    <path id="path-1" d="M0,0.0100482134 L24.1785405,0.0100482134 L24.1785405,27.7136209 L0,27.7136209 L0,0.0100482134 Z"></path>
                                    <path id="path-3" d="M0,0.0100482134 L24.1785405,0.0100482134 L24.1785405,27.7136209 L0,27.7136209 L0,0.0100482134 Z"></path>
                                </defs>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-250.000000, -214.000000)">
                                        <g transform="translate(251.566406, 215.305176)">
                                            <ellipse stroke-width="2" cx="26" cy="26" rx="26" ry="26"></ellipse>
                                            <g transform="translate(13.898926, 12.143190)">
                                                <g>
                                                    <mask id="mask-2" fill="white">
                                                        <use xlink:href="#path-1"></use>
                                                    </mask>
                                                    <g id="Clip-2"></g>
                                                    <path d="M20.745871,24.2561711 L3.45743357,24.2561711 L3.45743357,8.69764709 L20.7446825,8.69764709 L20.7446825,24.2561711 L20.745871,24.2561711 Z M21.4074864,2.77995169 L19.0159576,2.77995169 L19.0159576,0.0100482134 L15.5585078,0.0100482134 L15.5585078,2.77995169 L8.64360824,2.77995169 L8.64360824,0.0100482134 L5.18615846,0.0100482134 L5.18615846,2.77995169 L3.45743357,2.77995169 C1.92005692,2.77995169 0.0128952072,4.0265244 0.0128952072,5.54985516 L-1.62067959e-05,24.9437174 C-1.62067959e-05,26.4670482 1.23251062,27.7136209 2.77107577,27.7136209 L21.4074864,27.7136209 C22.9307631,27.7136209 24.1785243,26.4670482 24.1785243,24.9437174 L24.1785243,5.55098964 C24.1773358,4.0265244 22.9307631,2.77995169 21.4074864,2.77995169 L21.4074864,2.77995169 Z" id="Fill-1" fill="#AAAAAA" sketch:type="MSShapeGroup" mask="url(#mask-2)"></path>
                                                </g>
                                                <mask id="mask-4" fill="white">
                                                    <use xlink:href="#path-3"></use>
                                                </mask>
                                                <g></g>
                                                <path d="M5.18617467,10.426372 L10.3723493,10.426372 L10.3723493,15.6125466 L5.18617467,15.6125466 L5.18617467,10.426372 Z" id="Fill-4" fill="#AAAAAA" sketch:type="MSShapeGroup" mask="url(#mask-4)"></path>
                                                <path d="M13.8297991,10.426372 L19.0159738,10.426372 L19.0159738,15.6125466 L13.8297991,15.6125466 L13.8297991,10.426372 Z" id="Fill-6" fill="#AAAAAA" sketch:type="MSShapeGroup" mask="url(#mask-4)"></path>
                                                <path d="M5.18617467,17.3412715 L10.3723493,17.3412715 L10.3723493,22.5274462 L5.18617467,22.5274462 L5.18617467,17.3412715 Z" id="Fill-7" fill="#AAAAAA" sketch:type="MSShapeGroup" mask="url(#mask-4)"></path>
                                                <path d="M13.8297991,17.3412715 L19.0159738,17.3412715 L19.0159738,22.5274462 L13.8297991,22.5274462 L13.8297991,17.3412715 Z" id="Fill-8" fill="#AAAAAA" sketch:type="MSShapeGroup" mask="url(#mask-4)"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <p class="menu-title">Event</p>
                            <div class="menu-border"></div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="tab-item" ng-class="{'active': selectTab.indexOf(3) != -1}" ng-click="changeGoal(3)">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="55px" height="55px" viewBox="0 0 55 55">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-75.000000, -382.000000)">
                                        <g transform="translate(76.000000, 383.000000)">
                                            <g transform="translate(0.238281, 0.597168)" stroke-width="2">
                                                <ellipse cx="26" cy="26" rx="26" ry="26"></ellipse>
                                            </g>
                                            <g transform="translate(16.126953, 12.062134)">
                                                <path d="M9.74479248,24.0144043 C7.49502197,24.0144043 5.68762207,22.2322827 5.68762207,20.045708 C5.68762207,17.9981641 6.98945557,16.5572998 9.22658691,16.10229 C11.4637183,15.6472803 13.7766846,14.5729517 15.0658789,12.8413867 C15.5588062,14.4718384 15.7989502,16.1907642 15.7989502,17.9476074 C15.7989502,21.2843457 13.0941699,24.0144043 9.74479248,24.0144043 L9.74479248,24.0144043 Z M12.0072021,0.84682373 C12.0072021,0.84682373 12.9425,4.19620117 12.9425,6.91362061 C12.9425,9.5172876 11.2362134,11.6280273 8.63254639,11.6280273 C6.01624023,11.6280273 4.04453125,9.5172876 4.04453125,6.91362061 L4.08244873,6.44597168 C1.52933838,9.47937012 0,13.4101489 0,17.6948242 C1.12258293e-15,23.2791565 4.5269958,27.8061523 10.1113281,27.8061523 C15.6956604,27.8061523 20.2226562,23.2791565 20.2226562,17.6948242 C20.2226562,10.8696777 16.9491138,4.80288086 12.0072021,0.84682373 L12.0072021,0.84682373 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <p class="menu-title">Lose Weight</p>
                            <div class="menu-border"></div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item" ng-class="{'active': selectTab.indexOf(4) != -1}" ng-click="changeGoal(4)">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="55px" height="55px" viewBox="0 0 55 55">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-251.000000, -382.000000)">
                                        <g transform="translate(252.000000, 383.000000)">
                                            <g transform="translate(0.566406, 0.597168)" stroke-width="2">
                                                <ellipse cx="26" cy="26" rx="26" ry="26"></ellipse>
                                            </g>
                                            <g transform="translate(14.947266, 14.913452)">
                                                <path d="M2.79928125,15.2825625 L1.89140625,14.3872969 C0.920484375,13.4037656 0.920484375,11.8149844 1.89140625,10.8314531 C2.90015625,9.8353125 4.4889375,9.8353125 5.47246875,10.8314531 L8.7256875,14.0720625 L14.0720625,8.7256875 L10.8314531,5.47246875 C9.8353125,4.4889375 9.8353125,2.90015625 10.8314531,1.89140625 C11.8149844,0.920484375 13.4037656,0.920484375 14.3872969,1.89140625 L15.2825625,2.79928125 L22.4194687,9.9361875 L23.3273437,10.8314531 C24.2982656,11.8149844 24.2982656,13.4037656 23.3273437,14.3872969 C22.3185937,15.3834375 20.7298125,15.3834375 19.7462812,14.3872969 L16.4930625,11.1466875 L11.1466875,16.4930625 L14.3872969,19.7462812 C15.3834375,20.7298125 15.3834375,22.3185937 14.3872969,23.3273437 C13.4037656,24.2982656 11.8149844,24.2982656 10.8314531,23.3273437 L9.9361875,22.4194687 L2.79928125,15.2825625 L2.79928125,15.2825625 Z M1.4626875,21.9655312 L2.79928125,20.6289375 L1.02135937,18.8510156 C0.52959375,18.35925 0.52959375,17.5648594 1.02135937,17.0730937 C1.513125,16.5813281 2.30751562,16.5813281 2.79928125,17.0730937 L8.14565625,22.4194687 C8.63742187,22.9112344 8.63742187,23.705625 8.14565625,24.1973906 C7.65389062,24.6891562 6.8595,24.6891562 6.36773437,24.1973906 L4.5898125,22.4194687 L3.25321875,23.7560625 L1.4626875,21.9655312 L1.4626875,21.9655312 Z M21.9655312,1.4626875 L23.7560625,3.25321875 L22.4194687,4.5898125 L24.1973906,6.36773437 C24.6891562,6.8595 24.6891562,7.65389062 24.1973906,8.14565625 C23.705625,8.65003125 22.9112344,8.65003125 22.4194687,8.14565625 L17.0730937,2.79928125 C16.5813281,2.30751562 16.5813281,1.513125 17.0730937,1.02135937 C17.5648594,0.52959375 18.35925,0.52959375 18.8510156,1.02135937 L20.6289375,2.79928125 L21.9655312,1.4626875 L21.9655312,1.4626875 Z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <p class="menu-title">Building Muscle</p>
                            <div class="menu-border"></div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="tab-item" ng-class="{'active': selectTab.indexOf(5) != -1}" ng-click="changeGoal(5)">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="55px" height="55px" viewBox="0 0 55 55">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-75.000000, -531.000000)">
                                        <g transform="translate(76.000000, 532.000000)">
                                            <g transform="translate(0.238281, 0.694824)" stroke-width="2">
                                                <ellipse cx="26" cy="26" rx="26" ry="26"></ellipse>
                                            </g>
                                            <g transform="translate(17.078125, 18.738770)">
                                                <path d="M10,18.35 L8.55,17.03 C3.4,12.36 0,9.27 0,5.5 C0,2.41 2.42,0 5.5,0 C7.24,0 8.91,0.81 10,2.08 C11.09,0.81 12.76,0 14.5,0 C17.58,0 20,2.41 20,5.5 C20,9.27 16.6,12.36 11.45,17.03 L10,18.35 L10,18.35 Z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <p class="menu-title">Fun</p>
                            <div class="menu-border"></div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="tab-item" ng-class="{'active': selectTab.indexOf(6) != -1}" ng-click="changeGoal(6)">
                            <img src="img/goal/training.svg" alt="training">
                            <p class="menu-title">Training</p>
                            <div class="menu-border"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="footer">
        <button class="button button-full button-calm" ng-click="goNext()">NEXT</button>
    </div>
</ion-view>
